* {
  box-sizing: border-box;
}

html {
  color: var(--clr-primary-base);
  font-family: lexend_deca;
}

body {
  background-color: var(--clr-primary--2);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  justify-self: center;
  color: var(--clr-primary-1);
}

article .gallery-img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

article .gallery-img:hover {
  opacity: 0.5;
}

canvas {
  border: 1px solid var(--clr-primary-2);
  border-radius: 10px;
}

canvas:hover {
  cursor: pointer;
}

a {
  color: var(--clr-primary-base);
}

a:hover {
  color: var(--clr-primary-2);
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.hide {
  display: none;
}

.saved-msg {
  position: fixed;
  top: 110px;
  left: 20px;
  background-color: var(--clr-primary-2);
  border: var(--box-border);
  color: var(--clr-primary-1);
  padding: 10px;
  border-radius: var(--box-border-radius);
}
