* {
  box-sizing: border-box;
}

html {
  color: var(--clr-primary-base);
  font-family: sans-serif;
}

body {
  background-color: var(--clr-primary--2);
  margin: 0;
}

article .gallery-img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

article .gallery-img:hover {
  opacity: 0.5;
}

a {
  color: var(--clr-primary-base);
}

a:hover {
  color: var(--clr-primary-2);
}

.page {
  display: none;
}

.page.active {
  display: block;
}
