.editor-layout .wrapper {
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    minmax(auto, 600px)
    minmax(16px, 1fr);
  justify-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.editor-layout .wrapper > * {
  grid-column: 2;
}

.text-lines-container {
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 0.5em;
}

/*inputs*/

.text-line {
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  border-radius: var(--box-border-radius);
  border: var(--box-border);
  background-color: var(--clr-primary--2);
}

.text-line.selected {
  border: var(--box-border-selected);
}

.text-line:focus {
  outline: none;
  border: var(--box-border-selected);
}

/*font editor container*/
.editor-font-btns {
  flex-wrap: wrap;
}

/*Emojis and container*/
.emojis-container {
  overflow-x: scroll;
  scrollbar-color: var(--clr-primary-base) var(--clr-primary-2);
  scrollbar-width: thin;
  gap: 3em;
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  width: 400px;
  padding: 1em;
}

.emojis-container img.selected {
  border: var(--box-border-selected);
  border-radius: var(--box-border-radius);
  padding: 1px;
}
.emojis-container img {
  width: 2.5em;
  height: 2.5em;
}

.emojis-container img:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*SAVED MEMES*/

.saved-memes-grid {
  display: grid;
  /*auto-fill fills the rows with as many cols that can fit*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  margin-top: 3em;
  margin-bottom: 2em;
}

.saved-memes-grid article {
  position: relative;
  width: 100%;
  display: block;
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  padding: 0.5em;
}

.saved-memes-grid article button {
  position: absolute;
  top: 5px;
  right: 5px;
}
.saved-memes-grid article img {
  width: 100%;
  cursor: pointer;
}
