.editor-layout .wrapper {
  display: grid;
  grid-template-columns:
    minmax(16px, 1fr)
    minmax(auto, 600px)
    minmax(16px, 1fr);
  justify-items: center;
  gap: 1em;
}

.editor-layout .wrapper > * {
  grid-column: 2;
}

.text-lines-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

/*inputs*/

.text-line {
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--clr-primary-base);
  background-color: var(--clr-primary--3);
}

.text-line.selected {
  border: 2px solid var(--clr-primary-3);
}

/*font editor container*/
.editor-font-btns {
  flex-wrap: wrap;
}
