/* Gallery Layout*/

.gallery-layout .img-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.filter-label {
  color: var(--clr-primary-1);
  font-weight: bold;
}

.filter-container {
  margin-bottom: 2em;
}

.filter-input {
  border-radius: var(--box-border-radius);
  border: var(--box-border);
  background-color: var(--clr-primary--2);
  padding: 0.5em;
  font: inherit;
  color: var(--clr-primary-1);
  font-size: 0.8em;
}

.filter-input:focus {
  outline: none;
  border: var(--box-border-selected);
}

.filter-input::placeholder {
  font: inherit;
  color: var(--clr-primary-base);
}
