/*btns*/

.btn {
  background-color: var(--clr-primary--1);
  border-radius: var(--box-border-radius);
  border: var(--box-border);
  font-size: 1em;
  font-weight: bold;
  color: var(--clr-primary-1);
  padding: 0.5em;
}

.btn:hover {
  background-color: var(--clr-primary-base);
  cursor: pointer;
}

.btn-like {
  text-decoration: none;
  background-color: var(--clr-primary--1);
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  color: var(--clr-primary-1);
  padding: 0.5em;
  font-weight: bold;
}

.btn-like:hover {
  background-color: var(--clr-primary-base);
  color: var(--clr-primary-1);
}

.editor-action-btns,
.editor-font-btns,
.editor-text-btns {
  gap: 1em;
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  width: 400px;
  padding: 1em;
}

.random-meme,
.reset-filter,
.editor-action-btns {
  font-size: 0.8em;
}

.add-line,
.delete-line,
.move-line-up,
.move-line-down {
  width: 2.1em;
  height: 2.1em;
}

.remove-btn {
  max-height: 2.1em;
  max-width: 2.1em;
}

.switch.btn {
  font-size: 1.2em;
  width: 1.75em;
  height: 1.75em;
  line-height: 1; /*removes extra vertical spacing*/
  padding: 0;
}

.upload input {
  display: none;
}

#font-select:hover {
  background-color: var(--clr-primary--3);
}

#font-select:focus {
  outline: none;
  border: var(--box-border-selected);
}

.remove-btn {
  font-size: 1em;
  color: var(--clr-primary-base);
  padding: 1em;
}

.remove-btn:hover {
  border: var(--box-border-selected);
  background-color: transparent;
}
