.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  background-color: var(--clr-primary--1);
  border-radius: 10px;
}

.search-words {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  font-weight: bold;
  scale: 1;
  margin-right: 0.5em;
}

.filter-label {
  display: none;
}

.search-words .funny {
  font-size: 1.6em;
}

.search-words .baby {
  font-size: 1.2em;
}

.search-words .cat {
  font-size: 2em;
}
