.main-header {
  /* min-height: 80px; */
  padding-block: 10px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--clr-primary-2),
    var(--clr-primary-1)
  );
  border-radius: 10px;
}
