.logo {
  color: var(--clr-primary-base);
  font-family: cherry_bomb;
  font-size: 3em;
  padding-bottom: 0.2em;
  border: none;
  background-color: var(--clr-primary--1);
  cursor: pointer;
}

.logo img {
  width: 1em;
  vertical-align: middle;
}
