.main-nav-list {
  gap: 3rem;
}

.main-nav-list a {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 4rem;
  font-family: lexend_deca;
  font-size: 1.1em;
}

.btn.btn-toggle-menu {
  color: var(--clr-primary-base);
  padding: 0.7em 1em;
  border: 1.5px solid var(--clr-primary-3);
}

.btn-toggle-menu:hover {
  color: var(--clr-primary-2);
}
