:root {
  --clr-primary-3: #ff00a9;
  --clr-primary--3: #ebbfb7;
  --clr-primary--2: #eddcd9;
  --clr-primary--1: #f2ebe9;
  --clr-primary-base: #de5499;
  --clr-primary-1: #264143;
  --clr-primary-2: #e99f4c;
}
