:root {
  --clr-primary-3: #ff90bb;
  --clr-primary-2: #2a004e;
  --clr-primary-1: #474e93;
  --clr-primary-base: #7469b6;
  --clr-primary--1: #ad88c6;
  --clr-primary--2: #e1afd1;
  --clr-primary--3: #ffe6e6;
  --clr-primary--4: #ffffff;
}
